@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Spicy+Rice&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* header */
header {
  padding: 1.5rem;
  width: 100%;
  background-color: rgb(148, 55, 55);

  color: white;
}
h3.slogan {
  font-family: "Allan", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-left: 4rem;
}
h1 {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 0.5rem;
}

/* add Task section */
#addTask div,
#addTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: rgb(148, 55, 55);
}
#addTask input {
  padding: 1rem;
  width: 40rem;
  border-radius: 0.5rem;
  border: none;
}
#addTask button {
  width: 10rem;
  padding: 0.5rem;
  color: rgb(148, 55, 55);
  font-variant: small-caps;
  font-weight: 600;
  font-size: 24px;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
}
#addTask select {
  margin: 1rem;
  padding: 0.5rem;
  width: 42rem;
  border-radius: 0.5rem;
  border: none;
}
input {
  margin-bottom: 1rem;
}

/*  Task list */
li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 2rem;
  padding: 1rem;
  border: 0.15rem rgb(148, 55, 55) solid;
  border-radius: 1rem;
}
li div {
  display: flex;
  margin: 1rem;
  width: 95%;
  align-items: center;
}
.listTask div p {
  margin-right: 1rem;
}
.dateTask {
  color: rgb(148, 55, 55);
  font-size: 1.1rem;
  font-weight: 600;
}
input[type="checkbox"] {
  margin: 0;
}
.indexTasks {
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}

button.delete,
button.modification {
  background: none;
  border: none;
  margin: 1rem;
}
button.delete img {
  width: 50%;
}

#divModification {
  width: 98%;
  justify-content: space-between;
}
#divModification input {
  width: 30rem;
  height: 2rem;
  margin: 1rem;
}
#divModification button {
  margin: 0;
  padding: 0.5rem;
  background-color: white;
  color: rgb(148, 55, 55);
  font-variant: small-caps;
  font-weight: 600;
  font-size: 20px;
  border: rgb(148, 55, 55) solid 0.1rem;
  border-radius: 0.5rem;
}
